# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=libri
DB_USER=user
DB_PASS=pass

IMAGES_DIR=../images
CRAWLER_BINARY_PATH=../crawler
INTERNAL_API_KEY=your-secret-key
CLERK_JWKS_URL=https://your-frontend-api.clerk.accounts.dev/.well-known/jwks.json
CORS_ALLOWED_ORIGINS=http://localhost:3000
