# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=libri
DB_USER=user
DB_PASS=pass

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

IMAGES_DIR=../images
CLERK_JWKS_URL=https://your-frontend-api.clerk.accounts.dev/.well-known/jwks.json
